li{
    list-style-type:none;
}

.invent{
    display:inline-block;
    width:150px;
}

.input_area{
    display:block;
}

.info_align{
    display:block;
}

.room{
    display:inline-block;
    width:100px;
}

.room_dis{
    width:200px;
}